In [1]:
import nltk
import pandas as pd
import io
import re
from string import punctuation
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from random import shuffle
from matplotlib import pyplot as plt
#nltk.download('punkt')
#nltk.download('stopwords')
#nltk.download('PorterStemmer')

In [2]:
data = pd.read_csv('cleanerstill.csv', sep=";")
data.head()

/home/alanispani/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,age,body type,diet,drinks,drugs,education,essay0,essay4,essay6,essay7,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college university,about me i would love to think that i was so...,books absurdistan the republic of mice and ...,duality and humorous things,trying to find someone to hang out with i am ...,...,south san francisco california,doesnt have kids but might want them,straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef this is what that means 1 i am ...,i am die hard christopher moore fan i don't r...,,,...,oakland california,doesnt have kids but might want them,straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,english fluently spanish poorly french ...,single
2,38,thin,anything,socially,,graduated from masters program,i'm not ashamed of much but writing public te...,okay this is where the cultural matrix gets so...,,viewing listening dancing talking drinking...,...,san francisco california,,straight,has cats,,m,pisces but it doesnt matter,no,english french c,available
3,23,thin,vegetarian,socially,,working on college university,i work in a library and go to school,bataille celine beckett lynch jarmusch...,cats and german philosophy,,...,berkeley california,doesnt want kids,straight,likes cats,,m,pisces,no,english german poorly,single
4,29,athletic,,socially,never,graduated from college university,hey how's it going currently vague on the prof...,music bands rappers musicians at the moment...,,,...,san francisco california,,straight,likes dogs and likes cats,,m,aquarius,no,english,single

In [47]:
mask = (data['ethnicity'] != ' ') & (type(data['ethnicity']) != float) & (data['age'] != ' ') & (data['sex'] != ' ')
# mask removes all rows where ethnicity, age and sex is not given. Also removes rows where ethnicity is NaN. This particular value is not present for age and sex, hence it is not masked out.
data_new = data[mask]

data_rc = data_new.filter(['age','sex','ethnicity','essay0','essay4'], axis=1)

mask_male = (data_rc['sex'] == 'm') # creates mask of males where sex evaluates to True if == 'm'
mask_female = (data_rc['sex'] == 'f') # creates mask of females where sex evaluates to True if == 'f'

data_om = data_rc[mask_male] # only males for relevant columns
data_of = data_rc[mask_female] # only females for relevant columns

data_om_reduced = data_om.sample(frac=0.6665) # returns a random sample of data_om where parameter frac describes size of sample relative to original data

df_tmp = pd.concat([data_of, data_om_reduced], ignore_index=True)

df_final = df_tmp.sample(frac=1) # gives a random sample of df_tmp of size frac (currently 30001 obs)

In [50]:
import pickle
outfile = open("Data/cleaned_data", 'wb')
pickle.dump(df_final, outfile)
outfile.close()

We separate age into 4 categories according to the 4 quartiles.

In [82]:
a = 0
b = 0
c = 0
d = 0

for age in df_final["age"]:
    if age <= 26:
        a += 1
    elif 26 < age <= 30:
        b += 1
    elif 30 < age <= 37:
        c += 1
    else:
        d += 1

13091 9587 10319 10407

count    43404.000000
mean        32.551816
std          9.632410
min         18.000000
25%         26.000000
50%         30.000000
75%         37.000000
max         69.000000
Name: age, dtype: float64

In [86]:
test_data = df_final[:len(df_final)//10]
dev_data = df_final[-len(df_final)//10:]
train_data = df_final[len(df_final)//10:-len(df_final)//10]

outfile = open("Data/test_data", 'wb')
pickle.dump(test_data, outfile)
outfile.close()
outfile = open("Data/dev_data", 'wb')
pickle.dump(dev_data, outfile)
outfile.close()
outfile = open("Data/train_data", 'wb')
pickle.dump(train_data, outfile)
outfile.close()

4340 4341 34723